djangorestframework
django
python-decouple
gunicorn
psycopg2-binary
django-cors-headers
sentry-sdk
django_model_utils
pillow
django_filter
django-modeltranslation
requests
# pip install coreapi pyyaml
drf-yasg==1.21.6
coreapi